#root {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
  padding: 2rem;
}

main {
  margin-top: 5em;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.quote {
  font-size: 2.25rem;
  padding-left: 2.75em;
  border-left: 8px solid #f7df94;
  margin-block: 4em;
}

.quote-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 3em 2em;
  color: #4f4f4f;
  margin-left: 3em;
}

.quote-info:hover {
  background-color: #333;
  color: #f2f2f2;
}

.author {
  font-size: 1.5rem;
}

.quote-info:hover {
  color: #f2f2f2;
}

.tags {
  color: #828282;
  font-size: 0.875rem;
}

.rarr {
  visibility: hidden;
  font-size: 3em;
}

.quote-info:hover .rarr {
  visibility: visible;
}

.random {
  position: absolute;
  top: 30px;
  right: 100px;
  display: flex;
  align-items: center;
  column-gap: 0.5em;
}

